<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" type="text/css" rel="stylesheet"> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="icon" href="{% static 'img/logoezz.png' %}" />
    <title>Modificar Productos</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/estiloss.css' %}">

<style> 

    label.error {
    color: red;
    width: 500px;
    font-size: 0.8em;
    margin-top: -5px;
    margin-bottom: 10px;
    }

</style>


<script>

    $(function() 
    {
      $("#formulario").validate({
           rules: {
                  email: {
                        id_producto: "required",
                        marca: "required",
                        tipo: "required",
                        imagen: "required",
                        categoria: "required",
                  }   
                  
              }, //rules
          messages: {
              id_producto: {
                  required: 'Ingrese el Nombre del producto ',
              },
              marca: {
                  required: 'Ingrese Marca del producto',
              },
              tipo:{
                  required: 'Ingrese Descripcion del producto',
              },
              imagen:{
                  required: 'Ingrese imagen del producto',
              },
              categoria:{
                  required: 'Seleccione animal porfavor',
              },
          }//messages
      }); //$('#mi-formulario').validate
  }); //function


</script>




</head>
<body>
        <!--Menu de navegacion-->
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#opciones">
              <span class="navbar-toggler-icon"></span>
            </button>
            
            <!-- logo -->
            {% load static %}
            <a class="navbar-brand" href="#">
              <img src="{% static 'img/logoezz.png' %}" width="50" height="30" alt="logoBookStop">¡DePelos!
            </a>
            
            <!-- enlaces -->
            <div class="collapse navbar-collapse" id="opciones">   
              <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Inicio</a>
                  </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'somos' %}">Sobre Nosotros</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'galeria' %}">Productos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'contacto' %}">Contacto</a>
                </li>
    
              </ul>
            </div>
    
        <!--Registrar barra de navegacion-->
        {% if user.is_authenticated  %}

        <div>
          <a href="#" id="userDePelos">
            Bienvenido @{{user.username}}
          </a>
        </div>


        <div>
          <a href="{%  url 'adminez' %}" id="userDePelos" style="color: green">
              <img src="{% static 'img/useeer.png' %}" alt="userDePelos" width="20px">Administración.
          </a>
        </div>

        <div>
          <a href="{%  url 'logout' %}" id="userDePelos" style="color: red">
              <img src="{% static 'img/xez.png' %}" alt="userDePelos" width="20px">Cerrar Sessión.
          </a>
        </div>

        {% else %}
        <div>
          <a href="{% url 'registro' %}" id="userDePelos">
              <img src="{% static 'img/useeer.png' %}" alt="userDePelos" width="20px">Registrarse
          </a>
        </div>

        <div>
          <a href="{%  url 'login' %}" id="userDePelos">
            <img src="{% static 'img/usermujer.png' %}" alt="userDePelos" width="20px">Iniciar Sesión
          </a>
        </div>
        {% endif %}
    
          </nav><br>
    
        <br>
        <br>
          <div class="container-fluid fondo color ">
           <br><h1>Modificar Productos</h1>
           <p class="pt"></p><br>
         </div>
         <br><br>

<!--Caja de index-->
<div class="row jumbotron" id="Cajaindex">
  <div class="col-lg-6">
    <div class="div2">
      <br><br><br>
      <p class="pindex">
        {% if user.is_authenticated  %}
        <hr><h1>Para Modificar los productos complete el siguiente formulario.</h1><hr><br>
        {% else %}
        <hr><h1>UPS......</h1><hr><br>
        {% endif %}

        <!--Formulario ez-->
        
        <br>
        {% if user.is_authenticated  %}
        <div class="container">
    
            <div class="row">
                <form method="POST" action="#" class="needs-validation" id="formulario" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form2.id_producto.label }}
                        {{ form2.id_producto }}
                        
                    </div>
    
                    <div class="form-group">
                        {{ form2.marca.label }}
                        {{ form2.marca }}
                        
    
                    </div>
    
                    <div class="form-group">
                        {{ form2.tipo.label }}
                        {{ form2.tipo }}
                        
    
                    </div>

                    <div class="form-group">
                        {{ form2.imagen.label }}
                        {{ form2.imagen }}
                        
    
                    </div>
    
                    <div class="form-group">
                        {{ form2.categoria.label }}
                        {{ form2.categoria }}
                        
    
                    </div>
    
                    <br><br>
                    <input type="submit" class="btn btn-primary" value="Enviar">
                    <input type="reset" class="btn btn-danger" value="Limpiar">
    
    
    
                </form>
                <br><br>
    
    
    
            </div>
            </div>
            {% else %}
            <H1>Usted no tiene acceso a Crear Productos.</H1>
            <br><br>
            <hr>
            <a href="{% url 'login' %}"><H1>Iniciar Sessión</H1></a>
            <hr><br>
            {% endif %}

      </div>
    </div>
    
<div class="col-lg-6">
  <img src="{% static 'img/registroez.jpg' %}" class="imgduoc">
</div>
</div>
</div>
<br><br><hr><br>




  <!--FOOTER-->
  <footer>
    <div class="row col-12">
        <div class="col-lg-2">
            <img src="{% static 'img/logoezz.png' %}" alt="logoDePelos" width="60px">
        </div>
        <div class="col-lg-1">
            <a href="{% url 'index' %}" id="linkFooter"><strong>INICIO</strong></a>
        </div>
        <div class="col-lg-1">
          <a href="{% url 'galeria' %}" id="linkFooter"><strong>PRODUCTOS</strong></a> <br>
        </div>

        <div class="col-lg-2">
            <a href="{% url 'somos' %}" id="linkFooter"><strong>SOBRE NOSOTROS</strong></a>
            <br>
            <br>
        </div>

        <div class="col-lg-3">



        </div>


        <div class="col-lg-2">
        

            <p>Carlos Leufumán</p>
            <p>&copy; DePelos - 2022</p>
        </div>
    </div>
</footer>


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  


</body>
</html>


